<header class="navbar">
  <div class="logo">
    <a href="#inicio">
      <img src="images/logo.jpeg" alt="Logo Elí Aramburo">
    </a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#semblanza">Semblanza</a></li>
      <li><a href="#portafolio">Portafolio</a></li>
      <li><a href="#paquetes">Paquetes</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>

    <button class="btn-admin" (click)="toggleAdmin()">
    {{ adminService.isAdmin() ? 'Cerrar Sesión' : 'Vista Admin' }}
    </button>
</header>