<section id="contacto" class="contact-section">
  <div class="contact-header">
    <h2>Contacto</h2>
    <p>Hablemos.</p>
  </div>

  <div class="contact-card">
    <h3>Sígueme y contáctame</h3>
    
   <ul class="contact-list">

  <li>
    <i class="bi bi-instagram icon insta"></i> 
    <a href="https://www.instagram.com/eli_aramburo_fotografia_/" target="_blank" rel="noopener noreferrer">
      @eli_aramburo_fotografia_
    </a>
  </li>

  <li>
    <i class="bi bi-envelope-fill icon mail"></i> 
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=eli.aramburo.h@gmail.com&su=Información%20sobre%20sesión%20fotográfica" target="_blank" rel="noopener noreferrer">
      eli.aramburo.h&#64;gmail.com
    </a>
  </li>

  <li>
    <i class="bi bi-whatsapp icon wa"></i> 
    <a href="https://wa.me/529516864711?text=Hola%20Elí,%20me%20interesa%20tu%20trabajo%20fotográfico." target="_blank" rel="noopener noreferrer">
      WhatsApp Directo
    </a>
  </li>
</ul>

    <hr class="divider">

    <div class="location">
    <p><i class="bi bi-geo-alt-fill icon pin"></i> <strong>Ubicación</strong></p>
    <p class="city">Oaxaca, México.</p>
    </div>
    </div>
</section>